awscli==1.15.6
botocore==1.10.6
colorama==0.3.7
docutils==0.14
jmespath==0.9.3
numpy==1.15.4
olefile==0.44
pbr==5.1.1
Pillow==4.3.0
Pillow-PIL==0.1.dev0
pyasn1==0.4.2
pytesseract==0.1.7
python-dateutil==2.7.2
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.13
sense-hat==2.2.0
six==1.11.0
stevedore==1.30.0
virtualenv==16.1.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
